@import "~@blueprintjs/core/lib/scss/variables";
@import "src/scss/Variables";

$inset: 96px;

.container {
    margin-top: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;
    height: calc(100vh - #{$pt-navbar-height});
    width: calc(100vw - #{$app-sidebar-width});

    padding-left: $inset;
    padding-right: $inset;
}

.callout {
    margin: 8px;
}

.question {
    margin: 8px;
    width: 100%;
}

.transparentCallout {
    background-color: transparent !important;
}

.answers {
    margin: 8px;
    width: 100%;
}

.answersRow {
    display: flex;
}

.smallSpacer {
    width: 16px;
}

.actions {
    margin: 8px;
    width: 100%;
}

.actionsRow {
    display: flex;
    flex-direction: row;
}

.fullSpacer {
    flex: 1;
}
