@import "~@blueprintjs/core/lib/scss/variables";

html {
    height: 100%;
}

body {
    background-color: #293742;
    padding-top: $pt-navbar-height;

    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
