.container {
    margin-top: 32px;
    display: "flex";
    justify-content: "content";
    align-items: "center";
    flex-direction: "column";
    width: 800px;
}

.child {
    margin: 16px;
    width: 100%;
}

.question {
    background-color: transparent !important;
}
