@import "~@blueprintjs/core/lib/scss/variables";
@import "src/scss/Variables";

.sidebar {
    height: calc(100vh - #{$pt-navbar-height});
    width: $locationPanel-width;
}

.panelStack {
    width: 100%;
    height: 100%;
}
