@import "~@blueprintjs/core/lib/scss/variables";
@import "src/scss/Variables";

.container {
    overflow-y: auto;
    height: calc(100vh - #{$pt-navbar-height});
    width: calc(100vw - #{$locationPanel-width});
}
